.navbar {
  position: fixed;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 5;

  &__list-item {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
    cursor: pointer;
    filter: brightness(40%);
  }

  &__item {
    display: inline-block;
    width: 10rem;
    margin-right: 3.5rem;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    transition: all 1.5s;
    border-bottom: 0.5rem solid #fff;

    &:hover {
      border-bottom: 0.5rem solid $nav__bar__hover;
    }

    @include respond(tab-land) {
      font-size: 2rem;
      margin-right: 4rem;
    }
  }

  &__item:last-child {
    margin-right: 4rem;
  }

  &__Item_group {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__menuIcon {
    display: none !important;
    margin-right: 1.5rem;
    @include respond(tab-port) {
      display: block !important;
    }
  }
}
