.project {
  min-height: 100vh;
  width: 100%;

  h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 200;
  }

  &__list {
    width: 90%;
    align-self: center;
    overflow: hidden;
  }

  &__item {
    width: 25%;

    @include respond(tab-land) {
      width: 75%;
    }
    @include respond(phone) {
      width: 90%;
    }
  }
}

.card {
  width: 100%;
  min-height: 42.5rem;
  background-color: $secondary;
  display: flex;
  flex-direction: column;

  margin-bottom: 5rem;

  &__image {
    display: block;
    width: 100%;
  }

  &__title {
    height: 4rem;
    background-color: $projects__card__dark;
    color: $secondary;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
    min-height: 10rem;
    font-size: 1.2rem;
    line-height: 2;
    padding: 0.5rem;
    flex-grow: 1;
    @include respond(tab-land) {
      font-size: 1.6rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $projects__card__dark;
    height: 4rem;
  }

  &__btn {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 0.3rem 4rem;
    background-color: $secondary;
    color: $primary;
    border-radius: 100px;
    transition: all 0.2s;

    @include respond(tab-land) {
      padding: 0.3rem 8rem;
    }
    @include respond(tab-port) {
      padding: 0.3rem 5.5rem;
    }
    @include respond(sm-phone) {
      padding: 0.3rem 4rem;
    }

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
