/*
=============== 
Global Styles
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*  ==> 10px  */
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  color: $text-color;
  min-height: 100vh;
}

nav {
  // background-color: aqua;
  position: fixed;
  height: 6rem;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

ul {
  padding-right: 1rem;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

li {
  cursor: pointer;
  margin-left: 2rem;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.5rem 3rem;
  text-align: center;
  border-bottom: 0.5rem solid #fff;
  transition: all 0.5s;

  @include respond(tab-port) {
    display: none;
  }
}

li:hover {
  border-bottom: 0.5rem solid rgba(68, 68, 68, 0.41);
}

a,
a:active {
  color: $text-color;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}

section {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding: 5rem;
  border-bottom: 1px solid $bottom-line;
}
