@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.logo,
.logo:hover {
  font-family: "Pacifico", cursive;
  margin-right: auto;
  border-bottom: 0.5rem solid #fff;
  text-transform: capitalize;
  letter-spacing: 3px;
  cursor: default;
}
